@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

:root{
    --primary: #F0C969;
    --primary-light: #FFE196;
    --primary-dark: #C9A03A;
    --secondary: #1D1D1B;
    --secondary-light: #424242;
    --secondary--dark: #0D0D0C;
    --light: #ffffff;
    --light-dark: #D9D5D5;
    --dark: #0F0F0F;
    --dark-light: #292929;
    --black: #000000;
    --danger: #EC3434;
    --danger-light: #FF4D4D;
    --danger-dark: #C70E0E;
    --success: #2B9904;
    --success-light: #4BBF22;
    --success-dark: #1E7300;
}

body{
    background-color: #F4F4F4;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1170px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 3%;
}

.c-primary {
    color: var(--primary);
}
.d-flex {
    display: flex;
}

.itens-center {
    align-items: center;
}

.btn-default {
    max-width: 16.8rem;
    height: 3rem;
    background: var(--primary);
    color: var(--black);
    padding: 16px 24px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

.btn-default:hover{
    background-color: var(--primary-dark);
}

.btn-dashed{
    max-width: 16.8rem;
    height: 2.8rem;
    background: rgba(217, 217, 217, 9%);
    color: var(--light-dark);
    font-weight: bold;
    border: 2px dashed var(--light-dark);
    gap: 13px;
    padding: 16px 24px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;
}


/* START HEADER */
header{
    background-image: url("../img/background-header.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
.cover {
    background-color: rgba(0,0,0,70%);
    min-height: 100vh;
}

.top{
    display: flex;
    align-items: center;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.8rem;
    padding-top: 2.5rem;
}
.logo{
    width: 145px;
    height: 77px;
    margin-right: 3.75rem;
}

.nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1.3rem;
}
.nav ul li a {
    color: var(--light);
    font-weight: 500;
    font-size: 0.9rem;
}
.nav ul li a:hover {
    color: var(--primary);
}
.btn-top-zap-ul{
    display: none;
}
.menu-icon{
    display: none;
    width: 40px;
    cursor: pointer;
    color: var(--light);
}

.hero{
    margin-top: 8rem;
}
.hero-title {
    color: var(--light);
    font-weight: bold;
    font-size: 3.7rem;
}
.hero-description {
    color: var(--light);
    line-height: 27px;
    font-size: 1rem;
    max-width: 50%;
    margin-bottom: 3rem;
}
/* END HEADER */



/**
    SERVICES
 */
#services{
    padding-top: 4rem;
}
.after-title{
    text-transform: uppercase;
    letter-spacing: 0.11em;
    text-align: center;
    line-height: 27px;
    color: var(--black);
    font-size: 1rem;
}
.title-heading{
    text-align: center;
    line-height: 2.49rem;
    color: var(--secondary);
    font-weight: bold;
    font-size: 2.125rem;
    margin-top: 1.438rem;
}
.services {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
}
.service{
    background-color: var(--secondary--dark);
    max-width: 48%;
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    margin-top: 2rem;
}
.service-icon{
    display: flex;
    justify-content: center;
    position: relative;
    top: -36px;
}
.service-content {
    padding-right: 51px;
    padding-bottom: 36px;
    padding-left: 51px;
}
.service-title{
    color: var(--primary);
    margin-bottom: 26px;
}
.service p {
    color: var(--light);
    font-size: 1rem;
    line-height: 30px;
}
.btn-service{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
/**
    SERVICES
 */


/**
    DEPOIMENTS
 */
#depoiments{
    margin-top: 8rem;
    padding-bottom: 20px;
}

.splide{
    margin-top: 3rem;
}
.splide__slide{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.depoiment-img {
    margin-bottom: 3rem;
    border-radius: 100px;
}
.depoiment-desc {
    line-height: 30px;
    text-align: center;
    max-width: 70%;
}
.depoiment-client {
    color: var(--dark);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
}
.depoiment-company {
    font-size: 14px;
    margin-top: 1rem;
}

.splide__pagination {
    bottom: -1.5em!important;
}
/**
    DEPOIMENTS
 */

/**
    ABOUT
 */
#about{
    background-color: var(--light);
    height: 100vh;
}
.about-content {
    display: flex;
    justify-content: center;
    gap: 10px;
}
#about h2 {
    padding-top: 5rem;
}

.about-desc {
    width: 40%;

}
.about-desc p{
    line-height: 30px;
    font-size: 1rem;
    max-width: 470px;
    margin-top: 5rem;
    color: var(--secondary);
}
.about-social{
    margin-top: 28px;
    margin-bottom: 28px;
}

.about-img img {
    position: relative;
    top: 189px;
    right: -9px;
    z-index: 99;
}
.about-btn {

}
/**
    ABOUT
 */



#team{
    background-color: var(--dark);
    top: 2px;
    position: relative;
}
.team-content {
    padding-top: 8rem;
    padding-bottom: 9rem;
}
.team-content h2 {
    color: var(--light);
    font-weight: 900;
    font-size: 34px;
    line-height: 40px;
}
.team-desc {
    color: var(--light-dark);
    text-align: center;
    margin-top: 1rem;
    font-weight: 500;
    line-height: 30px;
}
.team-cards {
    display: flex;
    gap: 3%;
    justify-content: center;
    align-items: center;
}
.team-card {
    background-color: var(--secondary);
    width: 50%;
    margin-top: 4rem;
    border-radius: 8px;
    padding: 31px 0 31px 33px;
}
.team-card-content {
    max-width: 343px;
}
.team-card-header {
    display: flex;
    align-items: center;
    gap: 2.145rem;
}
.team-card-title {
    font-size: 23px;
    font-weight: 700;
    color: var(--light);
    line-height: 27px;
}
.team-card-function {
    color: var(--light-dark);
    font-size: 1rem;
    font-weight: 400;
    line-height: 19px;
    margin-top: 0.9rem;
}
.team-card-img {
    max-width: 121px;
    max-height: 121px;
    border-radius: 100%;
}

.team-card-desc {
    margin-top: 1.7rem;
    color: var(--light-dark);
    line-height: 30px;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}
.team-card-social {
    margin-top: 2.6rem;
}
#contact {
    background-color: var(--secondary);
}
.contact-content{
    padding-top: 6.7rem;
}
.contact-title {
    color: var(--primary);
    margin-bottom: 1.4rem;
}
.contact-desc {
    text-align: center;
    color: var(--light-dark);
}

.contact-area{
    display: flex;
    justify-content: space-between;
    padding-top: 6.25rem;
    padding-bottom: 8.5rem;
}
.contact-info {
    max-width: 45%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.contact-info h4{
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    color: var(--primary);
}
.contact-info h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: var(--primary);
    margin-bottom: 14px
}
.contact-info p {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 25px;
    color: var(--light);
}
.contact-form{
    max-width: 45%;
}
.form-row{
    display: flex;
    gap: 30px;
}
.form-group{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
label{
    margin-bottom: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 21px;
    color: var(--primary);
}
.input {
    min-width: 270px;
    height: 49px;
    border: 1px solid var(--primary);
    background-color: transparent;
    border-radius: 8px;
    color: var(--primary);
    outline: none;
    padding-left: 10px;
}

.textarea {
    min-width: 570px;
    min-height: 134px;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid var(--primary);
    outline: none;
    color: var(--primary);
    padding-top: 10px;
    padding-left: 10px;
}

.required{
    color: var(--danger-light);
}

footer {
    background-color: var(--black);
    min-height: 340px;
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.logo-footer {
    margin-bottom: 3rem;
}

.copy {
    background-color: var(--secondary);

}
.copy-content {
    max-width: 1170px;
    margin: 0 auto;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--light);
}
.copy-3 {
    color: #FFA500;
    font-weight: bold;
}
