@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

:root{
    --primary: #F0C969;
    --primary-light: #FFE196;
    --primary-dark: #C9A03A;
    --secondary: #1D1D1B;
    --secondary-light: #424242;
    --secondary--dark: #0D0D0C;
    --light: #ffffff;
    --light-dark: #D9D5D5;
    --dark: #0F0F0F;
    --dark-light: #292929;
    --black: #000000;
    --danger: #EC3434;
    --danger-light: #FF4D4D;
    --danger-dark: #C70E0E;
    --success: #2B9904;
    --success-light: #4BBF22;
    --success-dark: #1E7300;
}

body{
    background-color: #F4F4F4;
}

.c-primary {
    color: var(--primary);
}
.d-flex {
    display: flex;
}

.itens-center {
    align-items: center;
}

.btn-default {
    max-width: 16.8rem;
    height: 3rem;
    background: var(--primary);
    color: var(--black);
    padding: 16px 24px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

.btn-default:hover{
    background-color: var(--primary-dark);
}

.btn-dashed{
    max-width: 16.8rem;
    height: 2.8rem;
    background: rgba(217, 217, 217, 9%);
    color: var(--light-dark);
    font-weight: bold;
    border: 2px dashed var(--light-dark);
    gap: 13px;
    padding: 16px 24px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;
}


/* START HEADER */
header{
    background-image: url("../img/background-header.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
.cover {
    background-color: rgba(0,0,0,70%);
    min-height: 100vh;
}
.container {
    max-width: 1170px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 3%;
}
.top{
    display: flex;
    align-items: center;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.8rem;
    padding-top: 2.5rem;
}
.logo{
    width: 145px;
    height: 77px;
    margin-right: 3.75rem;
}

.nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1.3rem;
}
.nav ul li a {
    color: var(--light);
    font-weight: 500;
    font-size: 0.9rem;
}
.nav ul li a:hover {
    color: var(--primary);
}
.btn-top-zap-ul{
    display: none;
}
.menu-icon{
    display: none;
    width: 40px;
    cursor: pointer;
    color: var(--light);
}

.hero{
    margin-top: 8rem;
}
.hero-title {
    color: var(--light);
    font-weight: bold;
    font-size: 3.7rem;
}
.hero-description {
    color: var(--light);
    line-height: 27px;
    font-size: 1rem;
    max-width: 50%;
    margin-bottom: 3rem;
}
/* END HEADER */



/**
    SERVICES
 */

#services{
    padding-top: 4rem;
}
.after-title{
    text-transform: uppercase;
    letter-spacing: 0.11em;
    text-align: center;
    line-height: 27px;
    color: var(--black);
    font-size: 1rem;
}
.title-heading{
    text-align: center;
    line-height: 2.49rem;
    color: var(--secondary);
    font-weight: bold;
    font-size: 2.125rem;
    margin-top: 1.438rem;
}
.services {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
}
.service{
    background-color: var(--secondary--dark);
    max-width: 48%;
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    margin-top: 2rem;
}
.service-icon{
    display: flex;
    justify-content: center;
    position: relative;
    top: -36px;
}
.service-content {
    padding-right: 51px;
    padding-bottom: 36px;
    padding-left: 51px;
}
.service-title{
    color: var(--primary);
    margin-bottom: 26px;
}
.service p {
    color: var(--light);
    font-size: 1rem;
    line-height: 30px;
}
.btn-service{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
/**
    SERVICES
 */


/**
    DEPOIMENTS
 */
    #depoiments{
        margin-top: 8rem;
        height: 100vh;
    }
    .depoiment {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .depoiment p {
        line-height: 30px;
        text-align: center;
        max-width: 70%;
    }
    .depoiment-img {
        margin-bottom: 3rem;
        border-radius: 100px;
    }
    .depoiment-desc {
        margin-bottom: 3rem;
    }
    .depoiment-client {
        color: var(--dark);
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }
    .depoiment-company {
        font-size: 14px;
    }

/**
    DEPOIMENTS
 */



.splide__slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.splide__list {
    height: 100vh!important;
}

